<!-- <mat-toolbar color="primary">
    <span>Projection</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/category">Category</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button>
      <mat-icon>account_circle</mat-icon> Login
    </button>
  </mat-toolbar> -->
<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Testing App</span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened class="vertical-sidenav">
        <h3>Navigation</h3>
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/category">Category</button>
        <button mat-button routerLink="/dialogModalComponent">DialogModalComponent</button>
        <button mat-button routerLink="/product">Product</button>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>